@page
@model KTLT.Pages.MH_Cong_2_PhanSoModel
@using KTLT.Services
@using KTLT.Entities
@{
    string currentTime = $"Current time is {DateTime.Now}";
}

<form method="POST">
    <label for="a">Nhập tử 1</label><br>
    <input type="text" name="tu1" value=@Model.Tu1><br>
    <label for="a">Nhập mẫu 1</label><br>
    <input type="text" name="mau1" value=@Model.Mau1><br>
    <label for="b">Nhập tử 2</label><br>
    <input type="text" name="tu2" value=@Model.Tu2><br>
    <label for="b">Nhập mẫu 2</label><br>
    <input type="text" name="mau2" value=@Model.Mau2><br>
    <input type="submit" value="Tính">
</form>

@Model.kq
<p>@currentTime</p>
