@page
@model KTLT.Pages.MH_DangNhapModel

<form method="post">
    <label>User</label><br>
    <input type="text" name="user" value="" /><br>
    <label>Password</label><br>
    <input type="text" name="password" value="" /><br>
    <input type="submit" name="" value="Login" />
</form>
@Model.Chuoi