@page
@model KTLT.Pages.MH_Luu_TamGiacModel
@using KTLT.Entities
@using KTLT.Services
@{
    string currentTime = $"Current time is {DateTime.Now}";
}

<form method="POST">
    <label for="a">Nhập X 1</label><br>
    <input type="text" name="x1" value=@Model.t.A.X><br>
    <label for="a">Nhập Y 1</label><br>
    <input type="text" name="y1" value=@Model.t.A.Y><br>
    <label for="a">Nhập X 2</label><br>
    <input type="text" name="x2" value=@Model.t.B.X><br>
    <label for="a">Nhập Y 2</label><br>
    <input type="text" name="y2" value=@Model.t.B.Y><br>
    <label for="a">Nhập X 3</label><br>
    <input type="text" name="x3" value=@Model.t.C.X><br>
    <label for="a">Nhập Y 3</label><br>
    <input type="text" name="y3" value=@Model.t.C.Y><br>
    <input type="submit" value="Tính">
</form>

<p>@Model.kq</p>
<p>@currentTime</p>