@page
@model KTLT.Pages.MH_TaoSanPhamModel
@{
}

<form method="POST">
    <label for="a">Nhập mã sản phẩm</label><br>
    <input type="text" name="maSP" value=><br>
    <label for="a">Tên sản phẩm</label><br>
    <input type="text" name="tenSP" value=><br>
    <label for="a">Giá sản phẩm</label><br>
    <input type="text" name="giaSP" value=><br>
    <input type="submit" value="Tạo">
</form>

@Model.Chuoi
